

# Scheisse svg
.icons/dracula-icons-main/scalable/apps/org.gnome.Chess.svg
.icons/dracula-icons-main/scalable/apps/org.gnome.documents.svg
.icons/dracula-icons-main/scalable/apps/org.gnome.photos.svg
.icons/dracula-icons-main/scalable/apps/pithos.svg
.icons/Flat-Remix-Blue-Dark/apps/scalable/knetattach.svg
.icons/Flat-Remix-Blue-Dark/apps/scalable/mintbackup.svg
.icons/Flat-Remix-Blue-Dark/apps/scalable/mintinstall.svg
.icons/Flat-Remix-Blue-Dark/apps/scalable/mintnanny.svg
.icons/Flat-Remix-Blue-Dark/apps/scalable/org.gnome.baobab.svg
.icons/Flat-Remix-Blue-Dark/apps/scalable/org.gnome.music.svg
.icons/Flat-Remix-Blue-Dark/categories/scalable/knetattach.svg
.icons/Flat-Remix-Blue-Dark/categories/scalable/mintbackup.svg
.icons/Flat-Remix-Blue-Dark/categories/scalable/mintinstall.svg
.icons/Flat-Remix-Blue-Dark/categories/scalable/mintnanny.svg
.icons/Flat-Remix-Blue-Dark/categories/scalable/org.gnome.baobab.svg
.icons/Flat-Remix-Blue-Dark/categories/scalable/org.gnome.music.svg
.icons/Flat-Remix-Blue-Dark/devices/scalable/knetattach.svg
.icons/Flat-Remix-Blue-Dark/devices/scalable/mintbackup.svg
.icons/Flat-Remix-Blue-Dark/devices/scalable/mintinstall.svg
.icons/Flat-Remix-Blue-Dark/devices/scalable/mintnanny.svg
.icons/Flat-Remix-Blue-Dark/devices/scalable/org.gnome.baobab.svg
.icons/Flat-Remix-Blue-Dark/devices/scalable/org.gnome.music.svg
.icons/Flat-Remix-Blue-Dark/mimetypes/scalable/application-vnd.ms-word.document.macroenabled.12.svg
.icons/Flat-Remix-Blue-Dark/status/scalable/512/knetattach.svg
.icons/Flat-Remix-Blue-Dark/status/scalable/512/mintbackup.svg
.icons/Flat-Remix-Blue-Dark/status/scalable/512/mintinstall.svg
.icons/Flat-Remix-Blue-Dark/status/scalable/512/mintnanny.svg
.icons/Flat-Remix-Blue-Dark/status/scalable/512/org.gnome.baobab.svg
.icons/Flat-Remix-Blue-Dark/status/scalable/512/org.gnome.music.svg
.icons/Flat-Remix-Blue-Light/apps/scalable/knetattach.svg
.icons/Flat-Remix-Blue-Light/apps/scalable/mintbackup.svg
.icons/Flat-Remix-Blue-Light/apps/scalable/mintinstall.svg
.icons/Flat-Remix-Blue-Light/apps/scalable/mintnanny.svg
.icons/Flat-Remix-Blue-Light/apps/scalable/org.gnome.baobab.svg
.icons/Flat-Remix-Blue-Light/apps/scalable/org.gnome.music.svg
.icons/Flat-Remix-Blue-Light/categories/scalable/knetattach.svg
.icons/Flat-Remix-Blue-Light/categories/scalable/mintbackup.svg
.icons/Flat-Remix-Blue-Light/categories/scalable/mintinstall.svg
.icons/Flat-Remix-Blue-Light/categories/scalable/mintnanny.svg
.icons/Flat-Remix-Blue-Light/categories/scalable/org.gnome.baobab.svg
.icons/Flat-Remix-Blue-Light/categories/scalable/org.gnome.music.svg
.icons/Flat-Remix-Blue-Light/devices/scalable/knetattach.svg
.icons/Flat-Remix-Blue-Light/devices/scalable/mintbackup.svg
.icons/Flat-Remix-Blue-Light/devices/scalable/mintinstall.svg
.icons/Flat-Remix-Blue-Light/devices/scalable/mintnanny.svg
.icons/Flat-Remix-Blue-Light/devices/scalable/org.gnome.baobab.svg
.icons/Flat-Remix-Blue-Light/devices/scalable/org.gnome.music.svg
.icons/Flat-Remix-Blue-Light/mimetypes/scalable/application-vnd.ms-word.document.macroenabled.12.svg
.icons/Flat-Remix-Blue-Light/status/scalable/512/knetattach.svg
.icons/Flat-Remix-Blue-Light/status/scalable/512/mintbackup.svg
.icons/Flat-Remix-Blue-Light/status/scalable/512/mintinstall.svg
.icons/Flat-Remix-Blue-Light/status/scalable/512/mintnanny.svg
.icons/Flat-Remix-Blue-Light/status/scalable/512/org.gnome.baobab.svg
.icons/Flat-Remix-Blue-Light/status/scalable/512/org.gnome.music.svg
